<footer class="footer">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile">
              <div class="content">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcoderdojo.hirakata%2F&tabs=timeline&width=400&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1552184871743475" width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </div>
            </div>
            <div class="tile">
              <div class="content">
                <a class="twitter-timeline" href="https://twitter.com/CoderHirakata" data-widget-id="732062236512911361">@CoderHirakataさんのツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="content has-text-centered">
    &copy; {{ site.title }}
  </div>

</footer>
<img src="http://coderdojo-hirakata.mautic.net/mtracking.gif" />
