<section class="hero is-primary">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <figure class="image is-64x64">
            <img src="/images/logo.png" alt="Logo">
          </figure>
          <a class="nav-item" href="/">
            <h1 class="title">
              {{ site.title | escape }}
            </h1>
          </a>
        </div>
        <span class="nav-toggle" id="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu" id="nav-menu">
          <a class="nav-item" href="/">
            ホーム
          </a>
          <a class="nav-item{% if page.url contains '/about/' %} is-active{% endif %}" href="/about/">
            CoderDojoについて
          </a>
          <a class="nav-item{% if page.url contains '/join/' %} is-active{% endif %}" href="/join/">
            参加する
          </a>
          <a class="nav-item{% if page.url contains '/donate/' %} is-active{% endif %}" href="#">
            寄付する
          </a>
          <a class="nav-item{% if page.url contains '/blog/' %} is-active{% endif %}" href="#">
            BLOG
          </a>
          <span class="nav-item">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>


</div>
</section>
