<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <section class="hero is-primary is-medium">
      <!-- Hero header: will stick at the top -->
      <div class="hero-head">
        <header class="nav">
          <div class="container">
            <div class="nav-left">
              <figure class="image is-64x64">
                <img src="images/logo.png" alt="Logo">
              </figure>
              <a class="nav-item" href="/">
                <h1 class="title">
                  {{ site.title | escape }}
                </h1>
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <a class="nav-item is-active" href="/">
                ホーム
              </a>
              <a class="nav-item" href="/about/">
                CoderDojoについて
              </a>
              <a class="nav-item" href="#">
                参加する
              </a>
              <a class="nav-item" href="#">
                寄付する
              </a>
              <a class="nav-item" href="#">
                BLOG
              </a>
              <span class="nav-item">
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                  <span class="icon">
                    <i class="fa fa-twitter"></i>
                  </span>
                </a>
              </span>
            </div>
          </div>
        </header>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="title">
            子どもたちにプログラミングや<br />コーディングのサポートをする非営利活動です。
          </h2>
          <a class="button is-primary is-inverted" href="/about/">
            詳しくはこちら
          </a>
        </div>
      </div>

    </div>
  </section>
  <br /><br />
  <!-- <section class="hero is-primary">
    <div class="hero-body has-text-centered">
      <div class="container">
          <h2 class="title">
            子どもたちにプログラミングや<br />コーディングのサポートをする非営利活動です。
          </h2>
          <a class="button" href="/about/">
            詳しくはこちら
          </a>
      </div>
    </div>
  </section> -->
  <div class="section">
    <div class="container has-text-centered">
          <p class="title">一緒に考える</p>
  <br />
          CoderDojo は5〜17歳の子どもを対象にしたプログラミング道場です。<br />
          2011年にアイルランドで始まり、世界では65カ国・870の道場、日本では全国に27の道場があります (2016年3月現在)。<br />
          <br />
          CoderDojo枚方は、子どもたちが創りたい・実現したいことを<br />
          大人のエンジニアが一緒になって考える場所です。<br />
          そのため、教材やカリキュラムはありません。<br />
  <br />
          大人のエンジニアはプログラマーであり、コーダーであり、教育者ではありません。<br />
          だからこそ同じ目線で一緒になって考えてくれます。 <br />

    </div>
  </div>
    <div class="section">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
  {% include ga.html %}

</html>
